.tela {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    background-color: #f0f0f0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cesta {
    width: 120px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#cesta_img {
    width: 100%;
    height: auto;
}

.ovo {
    width: 40px;
    position: absolute;
}

#placar {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}